{
	MvrIdentifier = 9D99BCC4-B394-4CF6-AC52-D53C40910586;
	MvrMiniTitle = {
		en = "3.0.1 available";
	};
	MvrTitle = {
		en = "Mover 3.0.1 is now available.";
	};
	MvrBlurb = {
		en = "You can download it for free from the Updates pane of App Store.";
	};
	MvrActions = (
		{
			MvrInApp = YES;
			MvrTranslucent = NO;
			MvrURL = {
				en = "http://infinite-labs.net/mover/";
			};
			MvrTitle = {
				en = "More Info";
			};
		},
		{
			MvrInApp = NO;
			MvrURL = {
				en = "http://infinite-labs.net/mover/download-plus";
			};
			MvrTitle = {
				en = "App Store";
			};
		},
	);
}