
SDKROOT = macosx10.6
ARCHS = $(NATIVE_ARCH_ACTUAL)

OTHER_LDFLAGS = -framework Foundation -framework AppKit -ObjC -all_load

HEADER_SEARCH_PATHS = "$(SRCROOT)/../DDCli" "$(INFINITELABS_LIB_MUIKIT)/Build/Headers"

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(INFINITELABS_TOOLS)/Common/Mac/Foundation.pch

ZERO_LINK = NO
GCC_OPTIMIZATION_LEVEL = 0
PREBINDING = NO
