body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13pt;
	padding-top: 50px;
	
	background-color: #333;
	background-image: url(../DrawerBackdrop.png);
	color: #fff;
	text-shadow: 0 1px 2px #000;
}

a {
	color: #ddd;
}

div.license {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-size: 80%;
}