//
//  Diceshaker.xcconfig
//  Diceshaker
//
//  Created by ∞ on 24/08/08.
//  Copyright 2008 Emanuele Vulcano. All rights reserved.
//

USER_VISIBLE_VERSION = 2.0.4
VERSION = 21.4

BASE_BUILD_FOLDER = $(SRCROOT)

SYMROOT = $(BASE_BUILD_FOLDER)/Build
OBJROOT = $(BASE_BUILD_FOLDER)/TemporaryItems

SDKROOT = iphoneos3.0
IPHONEOS_DEPLOYMENT_TARGET = 3.0

ARCHS = $(ARCHS_STANDARD_32_BIT)

INFINITELABS_DEVELOPMENT_IPHONE_CODE_SIGN_IDENTITY = iPhone Developer
INFINITELABS_DISTRIBUTION_IPHONE_CODE_SIGN_IDENTITY = iPhone Distribution

INFINITELABS_IPHONE_CODE_SIGN_IDENTITY = $(INFINITELABS_DEVELOPMENT_IPHONE_CODE_SIGN_IDENTITY)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = $(INFINITELABS_IPHONE_CODE_SIGN_IDENTITY)

// Version info
INTERNAL_VERSION = $(VERSION)

// Silences IB.
IBC_NOTICES = NO
IBC_WARNINGS = NO

// Advertisement settings. If you're not me, you shouldn't change this. (Open source Mover does not have ads.)
#include "Ads/CurrentSettings.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(ILABS_AD_GCC_PREPROCESSOR_DEFINITIONS) $(ILABS_LOCAL_PREPROCESSOR_DEFINITIONS)

OTHER_LDFLAGS = -ObjC $(ILABS_AD_OTHER_LDFLAGS)
LIBRARY_SEARCH_PATHS = $(ILABS_AD_LIBRARY_SEARCH_PATHS)

HEADER_SEARCH_PATHS = $(INFINITELABS_LIB_MUIKIT)/Build/Headers $(INFINITELABS_TOOLS)/Logging/Build/Headers $(ILABS_AD_HEADER_SEARCH_PATHS)

USER_HEADER_SEARCH_PATHS = MYNetwork/** MYUtilities/**

ALWAYS_SEARCH_USER_PATHS = NO
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = Mover

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(INFINITELABS_TOOLS)/Common/iPhone/UIKit.pch

// Local settings. See the Scripts/ directory and the README for more info.
#include "Local.xcconfig"
