INFINITELABS_IPHONE_CODE_SIGN_IDENTITY = $(INFINITELABS_DEVELOPMENT_IPHONE_CODE_SIGN_IDENTITY)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = $(INFINITELABS_IPHONE_CODE_SIGN_IDENTITY)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1 L0LogUseOnRequestLogging=1
COPY_PHASE_STRIP = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0

#include "Local-Debug.xcconfig"
