<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${ILABS_MOVER_BUNDLE_DISPLAY_NAME}</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>${ILABS_MOVER_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${ILABS_MOVER_USER_VISIBLE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.infinite-labs.Mover.SwapKit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ILABS_MOVER_BUNDLE_IDENTIFIER}-SwapKit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.infinite-labs.Mover.API</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(ILABS_MOVER_API_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${ILABS_MOVER_VERSION}</string>
	<key>ILSwapRegistration</key>
	<dict>
		<key>ILAppReceiveItemURLScheme</key>
		<string>${ILABS_MOVER_BUNDLE_IDENTIFIER}-SwapKit</string>
		<key>ILAppSupportedActions</key>
		<array>
			<string>ILReceive</string>
			<string>ILPrepareForTransfer</string>
		</array>
		<key>ILAppSupportedReceivedItemsUTIs</key>
		<array>
			<string>public.url</string>
			<string>public.utf8-plain-text</string>
			<string>public.jpeg</string>
			<string>public.tiff</string>
			<string>com.compuserve.gif</string>
			<string>public.png</string>
			<string>com.microsoft.bmp</string>
			<string>com.microsoft.ico</string>
			<string>net.infinite-labs.Slide.AddressBookPersonPropertyList</string>
		</array>
		<key>ILAppSupportsReceivingMultipleItems</key>
		<true/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon512.png</string>
		<string>Icon72.png</string>
		<string>Icon.png</string>
	</array>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
