ILABS_MOVER_VARIANT = Lite

ILABS_MOVER_API_URL_SCHEME = x-infinitelabs-mover3-lite

ILABS_MOVER_BUNDLE_NAME = Mover
ILABS_MOVER_BUNDLE_DISPLAY_NAME = Mover
ILABS_MOVER_BUNDLE_IDENTIFIER = net.infinitelabs.Mover

ILABS_MOVER_VARIANT_HAS_RESOURCES = YES

// StoreUI
ILABS_MOVER_STOREUI_OTHER_LDFLAGS = -lStoreUI -framework StoreKit -framework Security
ILABS_MOVER_STOREUI_LIBRARY_SEARCH_PATHS = $(SRCROOT)/StoreUI/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
ILABS_MOVER_STOREUI_HEADER_SEARCH_PATHS = $(SRCROOT)/StoreUI


ILABS_MOVER_VARIANT_PREPROCESSOR_DEFINITIONS = kMvrIsLite=1 kMvrCurrentAppVariant=kMvrAppVariantMoverLite kMvrCurrentAppVariantDisplayName=@\"Mover\"

