ILABS_MOVER_VARIANT = Lite

ILABS_MOVER_API_URL_SCHEME = x-infinitelabs-mover3-lite

ILABS_MOVER_BUNDLE_NAME = Mover
ILABS_MOVER_BUNDLE_DISPLAY_NAME = Mover
ILABS_MOVER_BUNDLE_IDENTIFIER = net.infinitelabs.Mover

ILABS_MOVER_VARIANT_PREPROCESSOR_DEFINITIONS = kMvrIsLite=1 kMvrCurrentAppVariant=kMvrAppVariantMoverLite kMvrCurrentAppVariantDisplayName=@\"Mover\"

ILABS_MOVER_USER_VISIBLE_VERSION = 3.0.1
ILABS_MOVER_VERSION = 30.2