
#include "../Mover-Baseline.xcconfig"
#include "Variants/Current/Variant.xcconfig"

// iPhone-only baseline settings.
SDKROOT = iphoneos3.1
IPHONEOS_DEPLOYMENT_TARGET = 3.0

// Silences IB.
IBC_NOTICES = NO
IBC_WARNINGS = NO

GCC_PREPROCESSOR_DEFINITIONS = $(ILABS_MOVER_VARIANT_PREPROCESSOR_DEFINITIONS) $(ILABS_MOVER_EXTRA_GCC_PREPROCESSOR_DEFINITIONS) $(ILABS_LOCAL_PREPROCESSOR_DEFINITIONS) kMvrLegacyAPIURLScheme=@"\"$(ILABS_MOVER_API_URL_SCHEME)\"" 

OTHER_LDFLAGS = -ObjC -all_load $(ILABS_MOVER_EXTRA_OTHER_LDFLAGS)
LIBRARY_SEARCH_PATHS = $(ILABS_MOVER_EXTRA_LIBRARY_SEARCH_PATHS)

HEADER_SEARCH_PATHS = $(SRCROOT) $(INFINITELABS_LIB_MUIKIT)/Build/Headers $(INFINITELABS_TOOLS)/Logging/Build/Headers $(ILABS_MOVER_EXTRA_HEADER_SEARCH_PATHS)

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/.. $(SRCROOT)/../Network+Storage/MYNetwork $(SRCROOT)/../Network+Storage/MYUtilities

ALWAYS_SEARCH_USER_PATHS = NO
INFOPLIST_FILE = Mover3-Info.plist
PRODUCT_NAME = $(ILABS_MOVER_BUNDLE_NAME)

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(INFINITELABS_TOOLS)/Common/iPhone/UIKit.pch

// Local settings. See the Scripts/ directory and the README for more info.
#include "Local.xcconfig"

