ILABS_ADWHIRL_GCC_PREPROCESSOR_DEFINITIONS = kL0MoverInsertAdvertising=1 kL0MoverAdWhirlKey=$(ILABS_ADWHIRL_KEY)

ILABS_ADWHIRL_OTHER_LDFLAGS[sdk=iphoneos2*] = -lAdWhirl
ILABS_ADWHIRL_OTHER_LDFLAGS[sdk=iphonesimulator2*] = -lAdWhirl

ILABS_ADWHIRL_OTHER_LDFLAGS[sdk=iphoneos3*] = -lAdWhirl_OS3.0
ILABS_ADWHIRL_OTHER_LDFLAGS[sdk=iphonesimulator3*] = -lAdWhirl_OS3.0

ILABS_ADWHIRL_LIBRARY_SEARCH_PATHS = $(ILABS_VND_ADWHIRLSDK)
ILABS_ADWHIRL_HEADER_SEARCH_PATHS = $(ILABS_VND_ADWHIRLSDK)
