
ILABS_MOVER_APP_IDENTIFIER = net.infinitelabs.Mover.Edge

ILABS_MOVER_BUNDLE_NAME = MoverEdge
ILABS_MOVER_USER_VISIBLE_NAME = Mover Edge

ILABS_AD_GCC_PREPROCESSOR_DEFINITIONS = kMvrIsPaidVersion=0 kMvrUseSubdirectoryForItemStorage=1

ILABS_AD_OTHER_LDFLAGS =

ILABS_AD_LIBRARY_SEARCH_PATHS = 
ILABS_AD_HEADER_SEARCH_PATHS = 
