<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ObjectConstants</key>
	<dict>
		<key>kABHomeLabel</key>
		<string>_$!&lt;Home&gt;!$_</string>
		<key>kABOtherLabel</key>
		<string>_$!&lt;Other&gt;!$_</string>
		<key>kABPersonAddressCityKey</key>
		<string>City</string>
		<key>kABPersonAddressCountryCodeKey</key>
		<string>CountryCode</string>
		<key>kABPersonAddressCountryKey</key>
		<string>Country</string>
		<key>kABPersonAddressStateKey</key>
		<string>State</string>
		<key>kABPersonAddressStreetKey</key>
		<string>Street</string>
		<key>kABPersonAddressZIPKey</key>
		<string>ZIP</string>
		<key>kABPersonAnniversaryLabel</key>
		<string>_$!&lt;Anniversary&gt;!$_</string>
		<key>kABPersonAssistantLabel</key>
		<string>_$!&lt;Assistant&gt;!$_</string>
		<key>kABPersonBrotherLabel</key>
		<string>_$!&lt;Brother&gt;!$_</string>
		<key>kABPersonChildLabel</key>
		<string>_$!&lt;Child&gt;!$_</string>
		<key>kABPersonFatherLabel</key>
		<string>_$!&lt;Father&gt;!$_</string>
		<key>kABPersonFriendLabel</key>
		<string>_$!&lt;Friend&gt;!$_</string>
		<key>kABPersonHomePageLabel</key>
		<string>_$!&lt;HomePage&gt;!$_</string>
		<key>kABPersonInstantMessageServiceAIM</key>
		<string>AIM</string>
		<key>kABPersonInstantMessageServiceICQ</key>
		<string>ICQ</string>
		<key>kABPersonInstantMessageServiceJabber</key>
		<string>Jabber</string>
		<key>kABPersonInstantMessageServiceKey</key>
		<string>service</string>
		<key>kABPersonInstantMessageServiceMSN</key>
		<string>MSN</string>
		<key>kABPersonInstantMessageServiceYahoo</key>
		<string>Yahoo</string>
		<key>kABPersonInstantMessageUsernameKey</key>
		<string>username</string>
		<key>kABPersonKindOrganization</key>
		<integer>1</integer>
		<key>kABPersonKindPerson</key>
		<integer>0</integer>
		<key>kABPersonManagerLabel</key>
		<string>_$!&lt;Manager&gt;!$_</string>
		<key>kABPersonMotherLabel</key>
		<string>_$!&lt;Mother&gt;!$_</string>
		<key>kABPersonParentLabel</key>
		<string>_$!&lt;Parent&gt;!$_</string>
		<key>kABPersonPartnerLabel</key>
		<string>_$!&lt;Partner&gt;!$_</string>
		<key>kABPersonPhoneHomeFAXLabel</key>
		<string>_$!&lt;HomeFAX&gt;!$_</string>
		<key>kABPersonPhoneIPhoneLabel</key>
		<string>iPhone</string>
		<key>kABPersonPhoneMainLabel</key>
		<string>_$!&lt;Main&gt;!$_</string>
		<key>kABPersonPhoneMobileLabel</key>
		<string>_$!&lt;Mobile&gt;!$_</string>
		<key>kABPersonPhonePagerLabel</key>
		<string>_$!&lt;Pager&gt;!$_</string>
		<key>kABPersonPhoneWorkFAXLabel</key>
		<string>_$!&lt;WorkFAX&gt;!$_</string>
		<key>kABPersonSisterLabel</key>
		<string>_$!&lt;Sister&gt;!$_</string>
		<key>kABPersonSpouseLabel</key>
		<string>_$!&lt;Spouse&gt;!$_</string>
		<key>kABWorkLabel</key>
		<string>_$!&lt;Work&gt;!$_</string>
	</dict>
	<key>PropertyIDs</key>
	<dict>
		<key>kABPersonAddressProperty</key>
		<integer>5</integer>
		<key>kABPersonBirthdayProperty</key>
		<integer>17</integer>
		<key>kABPersonCreationDateProperty</key>
		<integer>26</integer>
		<key>kABPersonDateProperty</key>
		<integer>12</integer>
		<key>kABPersonDepartmentProperty</key>
		<integer>11</integer>
		<key>kABPersonEmailProperty</key>
		<integer>4</integer>
		<key>kABPersonFirstNamePhoneticProperty</key>
		<integer>7</integer>
		<key>kABPersonFirstNameProperty</key>
		<integer>0</integer>
		<key>kABPersonInstantMessageProperty</key>
		<integer>13</integer>
		<key>kABPersonJobTitleProperty</key>
		<integer>18</integer>
		<key>kABPersonKindProperty</key>
		<integer>15</integer>
		<key>kABPersonLastNamePhoneticProperty</key>
		<integer>9</integer>
		<key>kABPersonLastNameProperty</key>
		<integer>1</integer>
		<key>kABPersonMiddleNamePhoneticProperty</key>
		<integer>8</integer>
		<key>kABPersonMiddleNameProperty</key>
		<integer>6</integer>
		<key>kABPersonModificationDateProperty</key>
		<integer>27</integer>
		<key>kABPersonNicknameProperty</key>
		<integer>19</integer>
		<key>kABPersonNoteProperty</key>
		<integer>14</integer>
		<key>kABPersonOrganizationProperty</key>
		<integer>10</integer>
		<key>kABPersonPhoneProperty</key>
		<integer>3</integer>
		<key>kABPersonPrefixProperty</key>
		<integer>20</integer>
		<key>kABPersonSuffixProperty</key>
		<integer>21</integer>
		<key>kABPersonURLProperty</key>
		<integer>22</integer>
	</dict>
</dict>
</plist>
