
SDKROOT = macosx10.5
MACOSX_DEPLOYMENT_TARGET = 10.5

ARCHS = $(NATIVE_ARCH_ACTUAL)

ILABS_MOVER_VARIANT_PREPROCESSOR_DEFINITIONS = kMvrCurrentAppVariant=kMvrAppVariantMoverExperimental kMvrCurrentAppVariantDisplayName=@\"Experimental\"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
COPY_PHASE_STRIP = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
