ILABS_MOVER_VARIANT = Plus

ILABS_MOVER_API_URL_SCHEME = x-infinitelabs-mover

ILABS_MOVER_BUNDLE_NAME = MoverPlus
ILABS_MOVER_BUNDLE_DISPLAY_NAME = Mover+
ILABS_MOVER_BUNDLE_IDENTIFIER = net.infinitelabs.Mover.Plus

ILABS_MOVER_VARIANT_PREPROCESSOR_DEFINITIONS = kMvrCurrentAppVariant=kMvrAppVariantMoverPlus kMvrCurrentAppVariantDisplayName=@\"Mover+\"

ILABS_MOVER_VARIANT_HAS_RESOURCES = YES
